<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to WDIstagram.io.ly!</h1>

    <a href="/photo/new">Enter a new photo</a>

    <ul>
      <% @photos.each do |photo| %>
      <li>Photo: <a href="/photo/<%= photo.id %>"><%= photo.name %></a></li>
      <% end %>
    </ul>
</body>
</html>