<form method="POST" action="/photo">
  <ul>
    <p><input type="text" placeholder="Enter the authors name" name="author"></p>
    <p><input type="text" placeholder="Enter the photo's url" name="name"></p>
    <p><input type="text" placeholder="Enter the date the photo was taken" name="date_taken"></p>
    <button>Submit</button>
  </ul>
</form>