 <div class="form-container"> 
    <div class="form">
      <form action="/movies" method="POST">
          <input type="text" name="title" placeholder="Tell me a movie title."/>
          <button id="button">Go!</button>
      </form>
    </div>
</div>