<div class="movies-container">
<!-- <h2><a href="/movies/<%=@movies_array[0]%>">Entry:</a></h2> -->
  <ul>
    <li><img src=<%= @movies_array[2]%>></li>
    <li>Year: <%= @movies_array[1]%></li>
    <li>Title: <%= @movies_array[3]%></li>
  </ul>
</div>
