body{
    background-color: black;
}
.wrapper {
    background-color: black;
    width: 500px;
    margin: 0 auto;
}

.title {
    color: white;
    font-family: Helvetica;
    font-size: 2em;
}

.index {
    width: 450px;
    margin: 0 auto;
}

.meow {
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}

.notmeow {
    display: inline-block;
    height: 100px;
    margin: 0 auto;
}

.picture {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}