<h1>Details of your movie choice</h1>

<section>
    <h2><a href="/movies/id<%=@movie_info[0]%>">Movie:</a></h2>
    <ul>
      <li>Title: <%= @movie_info[1]%></li>
      <li>Year: <%= @movie_info[3]%></li>
      <img src="<%= @movie_info[2]%>" />
    </ul>
</section>
