<h1>Please search for a movie</h1>
  <form action="/movies" method="Post">
    <input type="text" placeholder="Enter a movie title" name="movie_title" />
    <button>Get your movie details!</button>
  </form>