<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="The best in ecards">
    	<meta name="keywords" content="Ecards, comedy, gifts">
		<title>Ecard.ly | The Best in Ecards</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body>

     	<div class="body-wrapper">
        <img class="card-img" src= "images/logo.png">

        <div class="box">
            <h2 class="card-header">e-Card of the day</h2>
            <img class="class-img" src="images/ecard-nycstartups.jpg"><width="600" height="">
            <p class ="card-text">Bikes outdoor activities chilling at a bar with friends adventures. Feminism I'm not good at filling out these things only looking for something casual I enjoy recently moved back, activity partners home brewing going to the gym road trips just looking to have some fun. Road trips but then it wouldn't be private glass half-full nothing too complicated Oxford comma feminism.<a href="#">DOWNLOAD</a></p>
      </div>

	</body>
</html>