<form method="POST" action="/photos">
	<input type="text" name="name" placeholder="Your name here." />
	<input type="text" name="date_taken" placeholder="Date photo was taken." />
	<input type="text" name="img_url" placeholder="URL of image."></input>
	<button>Make it so!</button>
</form>