<!-- action gives file path method gives a verb-->
<form action="/guest_book" method="POST">
  <p><input type="text" placeholder="name" name="name"></p>
<textarea name="comment" placeholder="type in comment"></textarea>
  <button>Save</button>
</form>