<form action="/paintings" method="POST">
  <input type="text" placeholder="Artist Name" name="name">
  <input type="text" placeholder="Artist DOB" name="dob">
  <input type="text" placeholder="Artist Nationality" name="nation">
  <input type="text" placeholder="Painting Title" name="title">
  <input type="text" placeholder="Year" name="year">
  <input type="text" placeholder="Image URL" name="url">
  <button>Submit</button>
</form>