<h1 class ="about">About the Actor:
</h1>
<p class ="actor">Marlon Brando</p>
<em>Swagger personified</em>
<ul class= "list">
  <li> He was really, really good looking. </li>
  <li> He smoked a lot of cigarettes. </li>
  <li> He had three wives and fathered 15 children.</li>
</ul>     

