<form method ="POST" action="/wdinstagram">
	<p><input type = "text" placeholder= "Author's name" name="author">
		<input type = "date"  placeholder= "Date" name="day">
		<input type = "url" placeholder= "URL" name="url"></p>
		<input type= "submit" value= "submit"> 
	</form>