<body>
        <div class="header">
        <h1>Do you know why you are here?</h1>
        <h4>well...do you?</h4>
      </div>
      <ul>
        <li><a class="buttons" href="cheese">yes</a></li>
        <li><a class="buttons" href="want_to">no</a></li>
      </ul>
</body>