<!doctype html>
<html>
<head>
  <title>WHY WHY WHY</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <style type="text/css">
    html{
      width: 815px;
    }
    body {
      background: url(http://www.thefoxisblack.com/blogimages//Johanna-Goodman-faces-iggy-pop.jpg);
      background-position: cover center;
      background-repeat: no-repeat;
      background-color: #FFF;
      font-family: "Helvetica Neue", sans-serif;
      color: white;
    }

    div {
      border: 2px dashed red;
      background-color: #000;
      opacity:.6;
      margin-bottom: 50px;
      padding: 100px 20px 50px 20px;
      font-family: "Helvetica Neue", sans-serif;
      color: white;
    }
    .header h1 {
      text-align: center;
      margin:80px 40px;
      opacity: 1;
      text-transform: uppercase;
    }
    .header h4 {
      text-align: center;
      margin: 80px 250px;
      opacity:1;
      text-transform: lowercase;
    }
    .buttons{
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      border: 2px dotted yellow;
      border-radius: 5px;
      padding: 20px 50px;
      background-color: black;
      opacity: .6;
      margin-right: 70px;
      margin-left: 40px;
      text-transform: lowercase;
    }
    ul{
      margin-right: 80px;
      margin-left: 80px;
    }
    li {
      display: inline;
      margin-right: 60px;
    }
    a:hover{
      color: red;
    }
    a:visited{
      color: yellow;
    }
    </style>
</head>

<body>
  <%=yield %>

</body>

</html>