<body>
        <div class="header">
        <h1><%= @first %></h1>
        <h4><%= @second %></h4>
      </div>
      <ul>
        <li><a class="buttons" href="<%= @yes %>">yes</a></li>
        <li><a class="buttons" href="<%= @no %>">no</a></li>
        <!-- <li><a class="buttons" href="game">maybe</a></li> -->
      </ul>
</body>
