<form method= "POST" action="/guest_book">
	<p>
	  <input type="text" placeholder="Your Name" name="name"></p>
	  
	  <textarea name="comment" placeholder="Enter your comments about our website..."></textarea>
	  <button>Save</button>
</form>