<div class="greeting">
Oh Hi <%= @name %>
</div>

<div class="compliment">
<%= @compliment %>
</div>

<footer>
	<input type="button" value="I Still Feel Crappy" onclick="location.href='/<%= @random_name %>';">
</footer>