<form action="/multiple" method="GET">
	<p>How many <span class="blue">blue</span> shapes would you like to see?
		<input type="text" name="num" placeholder="number of shapes"/>
	</p>
	<p>What shape would you like to see? Type "square" "circle" or "triangle":
		<input type="text" name="shape" placeholder="shape"/>
	</p>
	<button>Go!</button>
</form><br/>