<h1>TRIPP'D UP</h1>

<% @people.each do |person| %>
<h3><%= person.name.upcase %> : <%= person.num_trips%> trips</h3>
<form action="/<%= person.name %>" method="POST">
<button>Tripped</button>
</form>
<%end%>