<h1>"Welcome to Stock.ly!"</h1> 
<%= erb :form %>
    
    <!-- button type, it performs the "type" action packages the info into key value pairs and submits http request--> 

<!-- ? shows beginning of query string --> 


<% if bananas = "yummy" %>
<h3> I LIKE BANANAS!!!</h3>
<% else %>
  <h3 class="<% banana %>">You're missing out:(</h3>
<% end %>


<% a = 1 %>
<%= a + 10 %> 


