<form action="/multiple" method="GET">
  <input type="text" placeholder="Number of Squares" name="square">
  <input type="text" placeholder="Number of Circles" name="circle">
  <button>Submit</button>
</form>