<h1> Welcome to GuestBook.io.ly </h1>

<a href = "/guest_book/new"> Leave an Entry </a>
<h3> Here are the guests who have been here: </h3>

<ul>
	<% @entries.each do |entry| %>
		<l1> Name: <a href = "/guest_book/<%= entry.id %>/"><%= entry.name %></a>
		</li>
	</ul>
	<% end %>
