<!doctype html>
<html lang="en">
<head>
    	<meta charset="utf-8">
    	<meta name="description" content="">
    	<meta name="keywords" content="">
	
		<title>Brook &amp; Lyn</title>
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="container">
        <img src="images/brook-and-lyn-logo.gif">
        <img class="home" src="images/home-bloghero.png">
        <img class="home" src="images/home-rings.png">
        <h2>Our Latest Collection</h2>
        <h3>May 25th, 2012</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. <a href="#">Read more...</a></p>

          <div id="press-container">
          <img class="press"src="images/press-nbcnewyork.gif">
          <img class="press"src="images/press-huffpost.gif">
          <img class="press"src="images/press-logo_lucky.gif">
          <img class="press"src="images/press-marieclaire.gif">
          </div>
        <footer>Copyright 1999</footer>
      </div><!-- #container -->
</body>
</html>