/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

.container {
  font-size: 12px;
  font-family: "Times New Roman", serif;
  color: #656565;
  width: 980px;
  margin: 0 auto;
}

.logos {
  display: inline-block;
  border: 5px solid gray;
}

