<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>meowr</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class = "wrapper">
    <div class = "center">  
      <h1>meowr.ly</h1>
      <h2> find your purr-fect companion</h2>
      <%= yield %>
    </div>
  </div>
  
</body>
</html>