<form action="/guest_book" method="POST">
  <input type="text" placeholder="Your Name" name="name">
  <textarea name="comment" placeholder="Enter your comments about the website"></textarea>
    <button>SUBMIT</button>
</form>
