/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.body-wrapper {
  display: inline-block;
  margin-left: 100px;
  margin-right: 140px;
  font-size: 12px;
  line-height: 17px;
  font-family: times new roman, serif; 
}

.logo-img {
   display: block; 
   padding-top: 25px;
   padding-bottom: 15px;
}

.p, .links {
  text-align: left; 
/*  margin-left: 100px;
  margin-right: 140px;*/
  color: #656565;

}

.links {
  text-decoration: none;
  color: #3298ff; 
  hover: #20222a;

}

.img2 {
  text-align: center;
  }

.img-small {
  width: 237px;
  border: 5px solid #d3d3d3; 
}

.footer {
  text-align: left;

}


















