<form method="POST"  action="/guest_book/">

<p>
    <input type="text" placeholder="your name" name="name">
</P>

<p>
    <textarea name="comment" placeholder="Enter your comment about the website"></textarea>
</p>

<button> Sign the Book </button>
</form>