<div class="top">
<h1>McKstagr.am</h1>
<h3>The Hottest Gr.am on the Ne.tz</h3>

<a href="/welcome">View All</a>
</div>


<div class="form">
<form method="POST" action="/welcome">
  <p><input type="text" name="author" placeholder="Who is the author?"/></p>
  <p><input type="text" name="photo" placeholder="Image URL"/></p>
  <p><input type="date" name="date"/><p>
    <button>Gr.am me baby!</button>
  </form>
</div>
 
  <div class="tail">
  <h5>Another Skunkmaster Industries Product</h5>
  </div>