<div class="top">
<h1>McKstagr.am</h1>
<h3>The Hottest Gr.am on the Ne.tz</h3>

<a href="/welcome/add">Add an entry</a>
<a href="/welcome">View All</a>
</div>

<div class="entry">
<p><h3><%=@picture.author %></h3></p><h4><%= @picture.date %></h4>
<img src="<%= @picture.photo %>" />
</div>

<div class="tail">
  <h5>Another Skunkmaster Industries Product</h5>
  </div>

