<h1>I loooove Tilda Swinton. She's weird and great!</h1>
<ul>
  <li>Swinton is Scottish.</li>
  <li>She recently spent time sleeping in a glass box as an installation called "Maybe" at MOMA in NYC.</li>
  <li><img src="http://assets.nydailynews.com/polopoly_fs/1.1297325!/img/httpImage/image.jpg_gen/derivatives/landscape_635/tilda24f-4-web.jpg" alt=""></li>
</ul>