<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head> 
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
    <body>
        <div class="testlink">
            <a href="/selenium/TestRunner.html?test=/tests/TestSuite.html"> … </a>
        </div>
        <p class="text"> … </p>
        <ul class="buttons"> … </ul>
        <p class="links"> … </p>
    </body>

</html>	 