  <form action="/receipts" method="POST">   <!-- ##the action is the route to which the form will make an HTTP request ### -->
    
  <input type="text" placeholder="Which store?" name="store">
  <input type="text" placeholder="Which product?" name="product">
  <input type="text" placeholder="What price?" name="price">


  <button>Make receipt!</button>

  </form>