<form action="/receipts" method="POST">
  <input type="text" placeholder="Store Name" name="store"/>
  <input type="text" placeholder="Product Name" name="product"/>
  <input type="text" placeholder="Cost of Product" name="price"/>
  <button>Remember Forever!</button>
</form>