<!DOCTYPE html>
<html>
<head>
  <form action="/entries" action="Get"><button>Home</button></form>
  <title>Wdinstagram2App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
