<!DOCTYPE html>
<html lang="en">

	<head>

	</head>

	<body>


	<h1> Wanna see a funny name? </h1>

	<a href="/names">Click Me</a>

	<!-- <form class="form-horizontal" action="/submit" method="POST">
	<fieldset> -->

	</body>

</html>