<center><div class="search">
  <form action="/movies" method="POST">
    <input type="text" name="title" placeholder="enter a movie title" />
    <button>Find movie!</button>
  </form>
</div></center>