<h1>How many squares would you like?</h1> 

<form action="/multiple" method="get" >
    <input type="text" placeholder="Number of squares" name="num" />
    
<button type="submit">Generate squares!</button>

</form> 