<h1>Hello Welcome to Dungeon Game!</h1>

<p>Lets play!</p>
 <p> You are in a dungeon and you see two rooms, which do you choose?</p>

<p><a href="<%= @room1 %>">Room One</a></p>

<p><a href="<%= @room2 %>">Room Two</a></p>room1