* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #787890;
}

nav {
  text-align: center;
  width: 100%;
  padding: 20px;
  -moz-box-shadow: inset 0px 0px 16px #000000;
-webkit-box-shadow: inset 0px 0px 16px #000000;
box-shadow: inset 0px 0px 16px #000000;
/*Inner elements should not cover inner shadows*/
/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9e9e92', endColorstr = '#292928');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9e9e92', endColorstr = '#292928')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: -moz-linear-gradient(top, #9e9e92, #292928);
background-image: -ms-linear-gradient(top, #9e9e92, #292928);
background-image: -o-linear-gradient(top, #9e9e92, #292928);
background-image: -webkit-gradient(linear, center top, center bottom, from(#9e9e92), to(#292928));
background-image: -webkit-linear-gradient(top, #9e9e92, #292928);
background-image: linear-gradient(top, #9e9e92, #292928);
/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
opacity: 0.82;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 82);
/*-ms-filter must come before filter*/
filter: alpha(opacity = 82);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/
}

h1 {
  font-size: 36px;
  padding: 8px 20px;
  width: 300px;
  margin: 100px auto;
  background: -moz-linear-gradient(
    top,
    #ffffff 0%,
    #4123a1);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#ffffff),
    to(#4123a1));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 0px solid #000000;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 5px rgba(20,20,19,0.6);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 5px rgba(20,20,19,0.6);
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 5px rgba(20,20,19,0.6);
  text-shadow:
    0px -1px 3px rgba(255,255,255,0.8),
    0px 1px 0px rgba(255,255,255,0.3);
}

h1 a {
  color: #000;
}

form {
  margin: 100px auto;
}

input {
  text-align: center;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav li a {
  font-size: 28px;
  color: #fff;
}

a {
  text-decoration: none;
}

.movies {
  text-align: center;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  -moz-border-radius: 39px;
-webkit-border-radius: 39px;
border-radius: 39px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: inset 0px 0px 16px #000000;
-webkit-box-shadow: inset 0px 0px 16px #000000;
box-shadow: inset 0px 0px 16px #000000;
/*Inner elements should not cover inner shadows*/
/*Chrome renders inset shadows incorrectly with border-radius*/
/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbfff5', endColorstr = '#c2c1be');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbfff5', endColorstr = '#c2c1be')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: -moz-linear-gradient(top, #fbfff5, #c2c1be);
background-image: -ms-linear-gradient(top, #fbfff5, #c2c1be);
background-image: -o-linear-gradient(top, #fbfff5, #c2c1be);
background-image: -webkit-gradient(linear, center top, center bottom, from(#fbfff5), to(#c2c1be));
background-image: -webkit-linear-gradient(top, #fbfff5, #c2c1be);
background-image: linear-gradient(top, #fbfff5, #c2c1be);
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
opacity: 0.77;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 77);
/*-ms-filter must come before filter*/
filter: alpha(opacity = 77);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/
}

.movies img {
  display: inline-block;
  border-radius: 40px;
}








