<h1>Todo.ly!</h1>

<ol>
  <% @todos.each do |todo| %>
    <li class="<%= todo.completed ? "completed" : "" %>">
      <%= todo.task %>
      <%= check_box_tag 'completed', 'yes', todo.completed %>
    </li>
  <% end %>
</ol>