<h1>Here are the actors in our database:</h1>

<ul>
  <% @actors.each do |actor| %>
    <li><a href="actors/<%= actor.id %>"> <%= actor.name %></a></li>
  <% end %>
</ul>

<!-- 
GET /actors/:id

Actor's Name
An image of them
Their birth date

 -->