<div class="container">
  <div class="form">
    <form action="/shows" method="post">
          <p><input type="text" placeholder="title" name="title"></p>
          <p><input type="text" placeholder="year" name="year"></p>
          <p><input type="text" placeholder="composer" name="composer"></p>
          <p><input type="url" placeholder="image url" name="img_url"></p>
      <button>"Create entry"</button>
    </form>
  </div>
</div>