<!DOCTYPE HTML>
<html>
  <head>
    <title>Pair Programming Bot</title>
  </head>
  <body>
    <h1>Do You have a test for that?</h1>
      <form method="get" action="/yes">
        <button class="yes">Yes</button>
      </form>
      <form method="get" action="/no">
        <button class="no">No</button>
      </form>
  </body>
</html>