<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Select a new feature to implement</h1>
  <form method="get" action="/index">
    <button class="yes">Continue</button>
  </form>
  </body>
</html>