<!DOCTYPE HTML>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Need to refactor?</h1>
  <form method="get" action="/do_refactor">
    <button class="yes">Yes</button>
  </form>
  <form method="get" action="/new_feature">
    <button class="no">No</button>
  </form>
  </body>
</html>