<!DOCTYPE HTML>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Does the test pass?</h1>
  <form method="get" action="/pass">
    <button class="yes">Yes</button>
  </form>
  <form method="get" action="/write_test">
    <button class="no">No</button>
  </form>
  </body>
</html>