.square {
    width: 100px;
    height: 100px;
    border: 10px dashed black;
    background-color: blue;
    margin: 10px;
}

.circle {
    background-color: yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px; 
}

.error {
    font-size: 3em
}