<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>PICK ME UP</title>
  </head>

  <body>
    <div>
      Oh Hey <%= @name %>!
    </div>
    <div>
      <%= @compliment %>
    </div>
  </body>

</html>