<form action="/guest_book" method="POST">
	<input type="text" name="name" placeholder="Your Name"/><br/>

	<textarea name="comment" placeholder="optional: Comments for the Guest book"></textarea><br/>

	<button>Sign!</button>
</form>