<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='../style.css'>
  <title>WDInstagram</title>
</head>
<body>
  <header><a href='/'>Home</a>  |  <a href="https://www.facebook.com/HumansInFashion">See all Photos</a> <a href="/photos/new">Add a new photo </a> </header>
  <%= yield %>  
</body>
</html>
