<form method="POST" action="/photos"> 
 <p><input type="text" placeholder="Enter URL here" name="photo"></p>
 <p><input type="text" placeholder="Author name" name="author"></p>
 <p><input type="date" placeholder="Date" name="date"></p>
<button>Save</button>
</form>