
<!doctype html>
<html>
<head>
    <title>Koko the Gorilla</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
    

    h1 {
        text-align: center;
    }

    body {
        background-image: url("http://img.mota.ru/upload/wallpapers/2010/07/05/08/00/22044/mota_ru_0050710-1920x1080.jpg");
        margin: 0;
        padding: 0;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
    }
    div {
        width: 600px;
        margin: 5em auto;
        padding: 50px;
        background-color: #fff;
        border-radius: 1em;
    }

    #info {

    }
    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    @media (max-width: 700px) {
        body {
            background-color: #fff;
        }
        div {
            width: auto;
            margin: 0 auto;
            border-radius: 0;
            padding: 1em;
        }
    }
    img {
        align: center;
        width: 300px;

    }
    </style>  
</head>

<body>
<div class="info">
    <h1>Koko the Gorilla</h1>
    <img src="http://www.jesus-is-savior.com/Evolution%20Hoax/koko.jpg" />
    
    <ul>
        <li><a href="personaldata/dob.html">Born</a></li>
        <li><a href="personaldata/koko.html">Name</a></li>
        <li><a href="personaldata/profession.html">Profession</a></li>
    </ul>
    </div>
    <div class="info">
    <p>Koko is a female gorilla who, according to Francine "Penny" Patterson, is able to understand more than 1,000 signs based on American Sign Language, and understand approximately 2,000 words of spoken English.</p>
    <p>As with other ape language experiments, the degree to which Koko masters these signs has been controversial, as has been the degree to which such mastery demonstrates language abilities.</p>
    <p>Koko was born at San Francisco Zoo and has lived most of her life in Woodside, California, although a move to a sanctuary on Maui, Hawaii, has been planned since the 1990s.[4] Koko is short for the name Hanabiko (花火子 lit. "fireworks child"?) in Japanese, a reference to her date of birth, the Fourth of July.</p>
    <p><a href="http://www.koko.org/index.php">More information...</a></p>
</div>
</body>
</html>
