<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cute Kittens</title>
    <LINK href="./css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wrapper">
        <%= yield %>
    </div>
</body>
</html>