<form action="/receipts" method="POST">
  <ul>
  <li><input type="text" placeholder ="Store" name="store"/></li>
  <li><input type="text" placeholder="Product" name="product"/></li>
  <li><input type="text" placeholder="Price" name="price"></li>
  <button>Calculate your receipt</button>
</form>








