<div class="search">
  <center><p style="font-size: 24px">Enter the ID of the receipt you would like to look up:<p></center>
  <form action="/receipts/results" method="GET">
    <input type="text" placeholder="id" name="id"/>
    <button>Find receipt!</button>
  </form>
</div>
