<div class="form">
  <center><h1>Add your receipt below:</h1></center>
  <form action="/receipts" method="POST">
    <input type="text" placeholder="store" name="store"/>
    <input type="text" placeholder="item" name="item"/>
    <input type="text" placeholder="price" name="price"/>
    <button>Add Receipt</button>
  </form>
</div>