<!DOCTYPE html>
<html>
  <head>
    <title>Receipts.io</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="menu">
      <ul>
        <li>What would you like to do?</li>
        <li><a href="/receipts/new">Add a new receipt</a></li>
        <li><a href="/receipts">View all receipts</a></li>
        <li><a href="/receipts/find">View specific receipt</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
