<form action="/new/artist" method="POST">
	<label>
		Artist name: <input type="text" name="name" placeholder="Picasso">
	</label>
	<label>
		Nationality: <input type="text" name="nationality" placeholder="Spanish">
	</label> 
	<label>
		Date of birth: <input type="date" name="date_of_birth" value="1990-04-30">
	</label>
</form>