<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>Tripp'd Up</title>
   <style type="text/css">
      a:link {
         background-color: lightblue;
         padding: 5px 10px;
         text-decoration: none;
         color: #000;
         border-radius: 10px
      }
      a:visited {
         background-color: lightblue;
         color: #000;
      }
      a:hover {
         background-color: lime;
         color: #000;
      }
      a:active {
         background-color: lime;
         color: #000;
      }
   </style>
</head>
<body>
   <h1>Tripp'd Up</h1>

      <%= yield %>

</body>
</html>