<form action="/gram" method="POST">
  <p><input id="author" type="text" placeholder="Your Name" name="author"></p>
  <p><input id="photo_url" type="text" placeholder = "Your Photos URL" name="photos"></p>
  <p><input type="date" name ="date"></p>
  <button>Submit</button>
</form>