<div id="container">
  <div class="header">
  </div>
  <div class="image-container">
    <div class="top-img"></div>
    <div class="bottom-img"></div>
  </div>
  <h2>Our Lates Collection</h2>
  
  <p><a href="#">May 25th, 2012</a><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, debitis, eligendi, neque, in expedita voluptatibus ea voluptas atque quod quidem aut vero a quo dolor recusandae assumenda rerum ducimus aliquid natus quas excepturi quae eius beatae nobis soluta. Quaerat, vero, amet dolore quod laboriosam minima praesentium explicabo soluta rem eaque!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, eveniet illum nobis nostrum magni accusamus velit. Nisi, at corporis laboriosam maxime quaerat nam eligendi quasi fugiat quis nesciunt similique repellendus voluptates! Impedit, id quam quasi nostrum sapiente molestiae modi obcaecati eos autem magni. Doloribus eius corporis quas ut est recusandae! <a href="#">Read More......</a></p>
  <div class="parent-container">
    <div class="span4-img ny"></div>
    <div class="span4-img huffington"></div>
    <div class="span4-img lucky"></div>
    <div class="span4-img maire"></div>
  </div>
  <footer>
    <p>&copy;&nbsp;Copyright&nbsp;<%= Time.now.year %></p>
  </footer>
</div><!-- #container --> 
