<h1>IT'S A MOVIE!!!!!!</h1>
<p>
	<ul>
		<li>Title: <%= @movies_hash[@id][1] %></li>
		<li>Released: <%= @movies_hash[@id][2] %></li>
		<li><img src="<%= @movies_hash[@id][3] %>"></li>
	</ul>
</p>
<p>
	<a href="/movies/search">click here to search again</a>
</p>