<form action="/students" method="POST">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <label>
    Name:<br>
    <input type="text" name="student[name]" placeholder="Student Name"/>
  </label><br>

  <label>
    Project Description:<br>
    <textarea name="student[project_description]" placeholder="My idea..."/>
	</textarea>
  </label><br>

  <label>
    Github URL:<br>
    <input type="text" name="student[github_link]" />
  </label><br>

  <button>Save!</button>
</form>
