body {
   background: transparent url('http://www.wallcg.com/images/2012/11/quotes-salvador-dal-HD-Wallpapers.jpg') repeat-y center center;
   background-size: 100%;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  min-height: 1000px;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 20px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(256, 256, 256, 0.8)
}

ul, li {
  padding: 0;
  margin: 0;
}

ul {
  display: inline-block;
  margin: 20px;
}

nav li a, li {
  color: #000;
  font-family: Arnoldboecklin, fantasy;
  font-weight: bold;
}

li {
  list-style: none;
}

.title {
  position: relative;
  top: -55px;
}

img {
    border: 10px solid #fff;
    border-bottom: 50px solid #fff;
}

.main-nav {
  margin-bottom: 60px;
}

.movies  {
  clear: both;
}

li img {
  height: 250px;
}

a {
  text-decoration: none;
  color: #fff;
}

.polaroids  {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}
 
/* Rotate all even images 2 degrees */
.polaroids ul:nth-child(even)  {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
 
/*/* Don't rotate every third image, but offset its position */
.polaroids ul:nth-child(3n)  {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: 20px;
}

input {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}