<!DOCTYPE html>
<html lang="en">
<head>
    	<meta charset="utf-8">
    	<meta name="description" content="">
    	<meta name="keywords" content="">
	
		<title>Brook &amp; Lyn</title>
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="container">
         <h1>Brook &amp; Lyn</h1>
         <img src="images/home-bloghero.png" width="960" height="500" alt="New collection of leather rings">

         <img src="images/home-rings.png" width="960" height="500" alt="Blog inspired by Patty Bewes">

            <h2>Our Last Collection</h2>
            <p><a href="">May, 25th, 2012</a></p>
            <p>Quickly re-engineer business growth strategies with sustainable web-readiness. Collaboratively create visionary growth strategies vis-a-vis cooperative functionality. Holistically eextend cross-media technologies rather than cutiing-edge experiences.</p>
             <p>Quickly re-engineer business growth strategies with sustainable web-readiness. Collaboratively create visionary growth strategies vis-a-vis cooperative functionality. Holistically eextend cross-media technologies rather than cutiing-edge experiences. <a href="">Read More...</a></p>

         <div class="press">
            <img src="images/press-nbcnewyork.gif" width="224" height="143" alt="NBC NYC Press Release">
            <img src="images/press-huffpost.gif" width="224" height="143" alt="The Huffington Post Press Release">
            <img src="images/press-logo_lucky.gif" width="224" height="143" alt="Lucky Magazine Press Release">
            <img src="images/press-marieclaire.gif" width="224" height="143" alt="Marie Claire Press Release">
         </div>
         <footer>Copyright 1999</footer>

	</div><!-- #container --> 
</body>
</html>