<h1>Welcome To Guestbook.io.ly</h1>

<h3>Here are the guest who've been here</h3>

<a href="/guest_book/new">Leave an Entry</a>

<ul>
<% @entries.each do |entry| %>
  <li> Name: <a href="/guest_book/<%= entry.id %>"><%= entry.name %></a></li>
<% end %>    
</ul>