<form action="/guest_book" method="POST">
  <p><input type="text" placeholder="Your Name" name="name"></p>
  <textarea name="comment" placeholder="Enter Your Comments about Our Website"></textarea>
  <button>Submit</button>
</form>