<div class="movie_info">
	<a href="/movies/<%= @movie_hash['id'] %>">
		<img src="<%= @movie_hash['poster_link'] %>" />
	</a>
	<p>
		Title: <%= @movie_hash['title'] %> <br/>
		Year: <%= @movie_hash['year'] %> <br/>
	</p>
</div>

<p><a href="/">Go home</a></p>