<!doctype html>
<html lang='en'>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Lobster' rel='stylesheet' type='text/css'>
    <meta charset='utf-8' />
    <title>Moviefinder</title>
    <link rel="stylesheet" href="/reset.css"/>
    <link rel="stylesheet" href="/normalize.css"/>
		<link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <div class="header"><h1><a href="/">Moviefinder</a></h1></div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>