<h1> COOKIE MONSTER <h1>

<!-- ### unless the output doesnt exist, go ahead and show us what the output is -->
<% unless @output.nil? %>
<!-- ## = is when you want to write to the file -->
<p><%= @output %></p>
<% end %>