<h1><%=@header%></h1>

<h2><%=@message%></h2>

<p><a href="<%=@link1%>">I checked! I am the only gay in the village!</a></p>

<p><a href="<%= @link2 %>">I checked! I'm not the only gay in the village!</a></p>