   <h1>Only Gay In the Village Test</h1>
    
    <h2>Are ye the only gay in the village?</h2>



    <p><a href="/views/good.erb">Yes</a></p>
    <p><a href="/views/no.erb">No</a></p>
    <p><a href="views/find_out.erb">IDK!</a></p>

