<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Are Ye The Only Gay In the Village?</title>
  </head>
  <body>
    <div>
    <%= yield %>
  </div>
    <div style="margin-top: 0px">
    <a href="/"><img src="http://onthesleeve.files.wordpress.com/2007/06/daffyd-poster-little.jpg" /></a>
    </div>
  </body>
</html>