.index {
    background-color: black;
    color: white;

}

.all-photos {
    margin: 0, auto;

}

.author {
    font-size: 2em;
    
}

.date{
    font-size: .8em;
    font-style: italic;
}

.pphoto {
    background-color: black;
    vertical-align: top;
}

.photo {

}

.individual {
    width: 500px;
    margin: 0 auto;
}