<div class="container">
  <h1>enter your destination:</h1>
  <div class="form">
    <form action="/citi" method="post">
          <p><input type="textarea" name="address" placeholder="address" /></p>
          <div id="button">
            <button id="button">Go!</button>
          </div>  
    </form>
  </div>  
</div> 




