<h1>POSTEY</h1>

<form method="POST">
  <label for="Title:"></label>
  <input type="text" name="title">
  <label for="Content:"></label>
<textarea name="content"  cols="30" rows="10"></textarea>
<button>SAVE!</button>
</form>

<h4>Posts</h4>
<ul>

  <% @posts.each do |post| %>
  <li>Title:<%= post[:title] %>, Content: <%= post[:content] %></li>
  <% end %> 

</ul>