<section>
  <img src='<%= @entry.photo_url %>'>
  <h3>Shot by <%= @entry.author %> on <%= @entry.post_date %></h3>
</section>

<nav>
  <ul>
    <li><a href="/entries">See all Photos</a></li>
    <li><a href="/entries/new">Post a Photo</a></li>
  </ul>
</nav>