<div class="movie_info">
	<a href="/movies/<%= @movie_info[0] %>">
		<img src="<%= @movie_info[3] %>" />
	</a>
	<p>
		Title: <%= @movie_info[1] %> <br/>
		Year: <%= @movie_info[2] %> <br/>
	</p>
</div>

<p><a href="/">Go home</a></p>