<!-- Link to the movie search form -->
<p>Search for a movie <a href="/movies/search">here</a>!</p>

<!-- Link to view all searched movies -->
<p>View your search history <a href="/movies">here</a>!</p>