<p>Click a movie poster to see info for that individual movie!</p>

<!-- 
	Enumerates through @all_movies. For each line:
	* splits it into an array
	* displays each value except the id (title, year, poster_image)
		to html thru erb
	* makes the image a link to view the individual movie's info
	-->
<% @all_movies.each do |string| %>
<% 	 movie_info = [] %>
<% 	 movie_info = string.split(",") %>
<div class="movie_info">
	<a href="/movies/<%= movie_info[0] %>">
		<img src="<%= movie_info[3] %>" />
	</a>
	<p>
		Title: <%= movie_info[1] %> <br/>
		Year: <%= movie_info[2] %> <br/>
	</p>
</div>
<% end %>

<p><a href="/">Go home</a></p>