<form method="POST" action="/instaHW">
<p><input type="text" placeholder="your name" name="name"> 
  <input type="text" placeholder="photo date(12121934)" name="pdate">
  <input type="text" placeolder="Add your photo URL" name="photo"></p>

  <button>Add your pic!</button>
</form>