<form method="POST" action="/guest_book">
  <p>
    <input type="text" placeholder="Name" name="name" />
  </p>
    <textarea placeholder="Enter your Comments" name="comment"></textarea>
  <button>New Entry</button>
</form>