<h3>Create a New Entry</h3>

<form action="/insta/create" method="POST">
   <p>Name of author:
      <input type="text" name="author" placeholder="Author" /></p>
   <p>Photo URL:
      <input type="text" name="photo" placeholder="http://" /></p>
   <p>Date:
      <input type="date" name="date" /></p>
   <button>Submit</button>
</form>