<!doctype html>
<html>
<head>
  
  <meta charset='utf-8'>
  <title>Receipt.io - The Receipt Monster</title>

    <style>

    body{
      background: url("http://info.milestoneadvisors.net/Portals/142557/images/Receipts.jpeg");
      background-size: cover;
    }
    
    form{
      text-align: center;
    }
    div{
      padding-top: 100px;
    }
    .head{
      color: black;
      font-family: helvetica;
      font-size: 80px;
      font-weight: bold;
      line-height: 10px;
      text-align: center;
    }
    .head-sub{
      color: red;
      font-family: helvetica;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }
    a{
      color:black;
      font-family: helvetica;
      padding-left: 390px;
    }
    .receipt{
      display: inline-block;
    }

    h3{
      color: black;
      font-family: helvetica;
      font-size: 30px;
      font-weight: bold;
      line-height: 10px;
    }
    h4{
    color: red;
      font-family: helvetica;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
     </style>

</head>
<body>
<%= yield%>
</body>
</html>