<div>
<h1 class="head">Receipt.io</h1>
<h3 class="head-sub">ALL YOUR RECEIPTS </h3><h3 class="head-sub">ARE BELONG TO IO</h3>

<form action="/receipts" method="post">
<input type="text" placeholder="Store name" name="store"/>
<input type="text" placeholder="Item name" name="item"/>
<input type="text" placeholder="Cost" name="cost"/>
<button>Add receipt</button>
</form>
</div>