<form method="POST" action="/photos">

<p>  <input type="text" placeholder="Author's name" name="author"> </p>

<p>  <input type="text" placeholder="Photo URL" name="photo"> </p>

<p>  <input type="text" placeholder="Date" name="date"> </p>

<button>SAVE</button>

</form>