<div class="row">

  <div class="large-8 large-centered columns">
    <h1>Watchio</h1>

    <form>
      <label for="movie">
        Movie:
        <input type="text" name="movie" placeholder="Snakes on a Plane">
      </label>

      <button> Search </button>
    </form>


    <script type="text/html">
      <span class="results"> 
        <h1> <%%=title%> </h1>
        <br>
        <img src=<%%=poster%>>
        <br>
        <%%=plot%> 
        <form> 
        <button style="background-colour:red"> Add to watch list! </button>
        <form>
      </span>
    </script>


    <ul>
    </ul>

    <h1> watch list</h1>
    <ol>

    </ol>


  </div>
</div>
