<!Doctype html>
<html>
	<header>
		<title>David Moyes Profile</title>
	</header>
	<body>
		<h1>David Moyes Profile</h1>
		<img src="http://news.bbcimg.co.uk/media/images/67489000/jpg/_67489523_davidmoyes.jpg" />
		<table>
			<tr>
				<td>Name: </td>
				<td><a href="personaldata/name">David Moyes</a></td>
			</tr>
			<tr>
				<td>DOB: </td>
				<td><a href="personaldata/dob">April 25th 1963</a></td>
			</tr>
			<tr>
				<td>Profession: </td>
				<td><a href="personaldata/profession">Retarded Manager of Manchester United</a></td>
			</tr>
			<tr>
				<td>Pets: </td>
				<td>None</td>
			</tr>
		</table>

		<p>the data is <%=#{params[:data_point]} %></P

		<%= yield %>
	</body>
</html>

