<h1>Create a new receipt!</h2> 

<form action="/receipts" method="POST">
    <input type="text" placeholder="Store" name="store" />
    <input type="text" placeholder="Product" name="product" /> 
    <input type="text" placeholder="Price" name="price" /> 



<button type="submit">Create your receipt!</button>

</form> 