<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>RECEIPTS APP</title>
    <style>
    body {background-color: white; font-family: helvetica; color: black; width: 900px; margin: 0 auto}
    div {font: bold 72px helvetica; margin-top: 50px;}
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
