<h1>
Eddie Murphy was born in Brooklyn New York, in 1961, the youngest son of Lillian Murphy, a widow who married Vernon Lynch, the step-father of Eddie, his brother Charles Q. Murphy, and Vernon Jr. 
</h1>