<form action="/vote/meow" method="post">
  <input type="hidden" name="url" value="http://PlaceKitten.com/<%=@num_1%>/<%=@num_2%>"/>
<!-- name will grab a parameter that can be assigned with param[:num] -->
  <button type="submit">MEOW</button>
</form>
<form action="/vote/not_meow" method="post">
<button type="submit">not meow</button>
</form>
