  <!doctype html>

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KITTENS</title>
  <!-- <link href="/style.css" rel="stylesheet" type="text/css"> -->
</head>
<body>

  <%= erb :form %>
  <%= yield %>   <!-- add embedded paths here to use -->

  
</body>
</html>
<head>
