<form action="/receipts" method="POST">

  <input type="text" placeholder="Store Name" name="store" value=""/>

  <input type="text" placeholder="Product" name="product"/>
  
  <input type="text" placeholder="Price" name="price"/>

  <button>Make receipt!</button>

</form>