<!-- Allows user to create an entry -->
<div class="form">
	<form action="/create" method="POST">
		<p>
			<label for="author">
				Who is the author of this entry? <br/>
				<input type="text" name="author" placeholder="author">
			</label>
		</p>
		<p>
			<label  for="photo_url">
				What is the url of the photo? <br/>
				<input type="text" name="photo_url" placeholder=".../sweet_pix.gif">
			</label>
		</p>
		<p>
			<label for="date_taken">
				What date was this photo taken? <br/>
				<input type="date" name="date_taken">
			</label>
		</p>
		<button>Submit!</button>
	</form>
</div>