<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WDInstagram</title>
	<!-- PUT IN STYLE.CSS LATER -->
	<style> img {height: 500px; width: 500px;}</style>
</head>
<body>
	<%= yield %>
</body>
</html>