<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>Movies Search.io</title>
  </head>
  <body>
    <%= yield %>
    <h1><a href='/'>Home</a>  |  <a href='/movies/search'>Find a movie!</a>  |  <a href='/movies/:id'>List your movies</h1>
    
  </body>
</html>