<section>
    <h2>Movie:</a></h2>
    <ul>
      <li>Title: <%= @all_movies[1] %></li>
      <li>Year: <%= @all_movies[2]%></li>
      <li>Poster:<img src="<%= @all_movies[3]%>"> </li>
    </ul>
  </section>