<h1>Fill out the form below</h1>
<form action="/wdinstagram" method="POST">
	<input type="text" placeholder="Author's name" name="author"/>
	<input type="text" placeholder="image url" name="url"/>
	<input type="date" name="date"/>
	<button>submit</button>
</form>
