<h1>Want to join? Submit your info!</h1> 
<h2>Oops! Take me back to <a href="/students">list of students</a></h2>

<form action="/students" method="POST">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <label>
    Name
    <input type="text" name="student[name]" placeholder="Student Name"/>
  </label>

  <label>
    Project Description
    <textarea name="student[project_description]" placeholder="My idea..."></textarea>
  </label>

  <label>
    Github URL
    <input type="text" name="student[github_link]"  />
  </label>

  <button>Save!</button>
</form>