<form action="/actors" method="POST">
	<input type="text" name="name" placeholder="Actor's Name">
	<input type="url" name="photo_url" placeholder="URL of Actor's Photo">
	<input type="date" name="birth_date">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	<button>Elelator go down the hole.</button>
</form>