body {
      background-color: white; 
      font-family: helvetica; 
      color: black; 
      width: 900px; 
      margin: 0 auto
    }
    
.square {
    width: 100px;
    height: 100px;
    background: blue;
    margin: 10 auto;
  } 

