

body {
  font-family: Helvetica, sans-serif;
  background:#fafafa;
  color:#808080;
  background-image: url('greyzz.png');
}

#container {
  width:1000px;
  margin:auto;
}

p {
  margin:0px;
}

#new-task-field {
  padding: 10px;
  border:none;
  vertical-align: top;
  width:789px;
  margin: 0 0 0 40px;
  border-radius: 2px;
}

.items {
  padding:10px;
  background: white;
  color:#808080;
  border-radius: 2px;
}

.meta-data {
  color:#aaaaaa;
  font-size:small;
  font-style:italic;
}

#unfinished,
#finished {
  margin:10px 0 10px 0;
  padding:10px 40px 10px 10px;
  background:#404040;
  color:#eeeeee;
  border-radius: 8px;
}
#finished li {
  list-style-type: none;
}

#finished li .items {
  color:#aaaaaa;
}

#finished button.complete {
  display: none;
}


.actions {
  float:right;
}

button {
  margin: 0px;
  border: none;
  font-family: Helvetica, sans-serif;
  color: white;
  border-radius: 2px;
}

.delete {
  background:#eecccc;
}

.complete {
  background:#eeeeee;
}

#add-item {
  background:#6060ff;
  margin-left: 1em;
  padding:10px 20px 8px 20px;
}

.delete:hover {
  background:#ff6060;
}

.complete:hover {
  background:#80ff80;
}

#add-item:hover {
  background:#4040ff;
}

li {
  margin:5px;
}

h1 {
  color:#404040;
}