   <h2>Make a New Receipt</h2>

   <form action="/receipts" method="POST">

      <p>Please input the store name:<br />
      <input type="text" placeholder="Store name" name="store" /></p>

      <p>Please input the item purchased:<br />
      <input type="text" placeholder="Item name" name="item" /></p>

      <p>Please input the item price:<br />
      $<input type="text" placeholder="0.00" name="price" /></p>

      <br />
      <button>Submit</button>
   </form>