<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>Receipt.io</title>
  </head>
  <body>
    <h1><a href='/'>Home</a>  |  <a href='/receipts'>See all Receipts!</a></h1>
    <%= yield %>
  </body>
</html>
