<p class="text animated fadeInRight">
  <%= @header %>
</p>
<ul class="buttons">
  <li><a class="continue" href="<%= @link %>"><%= @btntext %></a></li>
</ul>
<p class="links">
  (<a href="/">restart</a>)
</p>