  <p class="text animated fadeInLeft">
    <%= @header %>
  </p>
  <ul class="buttons">
    <li><a class="yes" href="<%= @link_yes %>">Yes</a></li>
    <li><a class="no" href="<%= @link_no %>">No</a></li>
  </ul>
  <p class="links">
  (<a href="/">restart</a>)
</p>