
<div id="info">
    <h1>  Do you have a test for that?</h1>
    <p class="text">

    </a></p>

  <ul class="buttons">
      <li><a class="yes" href= "<%@pass%>">Yes</a></li>
      <li><a class="no" href ="<%@write_test%>">No</a></li>
    </ul>

    </div>