<!DOCTYPE html>

<html>
  <head>
    <title>Pair Programming Bot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/styles.css" media="screen" rel="Stylesheet" type="text/css" />
  </head>

  <body>
    <%=yield %>
  </body>
</html>
