<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="ajax.js"></script>
  <link rel="stylesheet" href="ajax.css">
  <title>AJAX</title>
</head>
<body>
  <h1>POSTEY</h1>
  <%= yield %>
</body>
</html>