<div class="intro">

<p>Hey!  Welcome to this program which is gonna do stuff with receipts.</p>

<a href="/newreceipt">New Receipt to Enter?</a>
<a href="#">See All Receipts?</a>
<a href="#">Get Receipt 7</a>

</div>