<!doctype html>

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Receipts.io</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

	<%= yield %>
	
</body>
</html>
<head>
