<h1> This is a form to input your receipt!</h1>
<form action="/newreceipt" method="post">
<input type="text" placeholder="Store Name" name="store_name"/>
<input type="text" placeholder="Product Name" name="product_name"/>
<input type="text" placeholder="Price" name="price"/>

<button>Make A Receipt! </button>
</form>