<div class="container">
  <div class="form">
    <form method="POST" action="/moma">
      <p><input type="url" placeholder="painting image url" name="image_url"></p>
      <p><input type="text" placeholder="year" name="year"></p>
      <p><input type="text" placeholder="title" name="title"></p>
      <button id="button">Save</button>
    </form>
  </div>
</div>