body {
  background-color: orange;
  font-family: 'Creepster', sans-serif;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
}

form.new-ghoul input {
  border: solid 1px #555;
  padding: .5% 1%;
}

form.new-ghoul p {
  margin-top: .5%;
}

form.new-ghoul button {
  border: none;
  background-color: rgba(0,0,0,.4);
  color: rgba(255,255,255,1);
  padding: .5% 1%;
  border-radius: 15px;
}

form.new-ghoul button:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
}