<form action="/guest_book" method="POST">
	<input type="text" placeholder="Type in your name" name="name" />
	<textarea placeholder="Type in your comment" name="comment"></textarea>
	<button>Submit</button>
</form>