<!-- action is synonymous w/ path -->
<!-- name is hash_key of params -->
	<!-- user input is hash_value of params[:hash_key] -->
<form action="/stocks" method="GET">
	<!-- input tag  -->
	<input type="text" placeholder="Stock Symbol" name="stock_symbol"> 
	<input type="text" placeholder="Write some stuff" name="stuff">

	<!-- button inside form will default to type="submit" -->
	<button type="submit">Get Quote!</button>
</form>

