<!-- Display form for new entry -->

<form action="/entries" method="post">
  <div>
    <label>Author:</label>
    <input type='text' name='author' placeholder=""/>
  </div>
  <div>
    <label>Photo URL:</label>
    <input type='text' name='photo_url' placeholder=""/>
  </div>
  <div>
    <label>Date Added:</label>
    <input type='date' name='date_added' placeholder=""/>
  </div>
  <button>"Create entry"</button>
</form>