<div class="container">
<div class="top"></div>
<a class="nav" href="/entries"> BACK </a>

  <div class="pics">
  <h1><%= @entry.author %></h1>
  <h3> <%= @entry.date %></h3>
  <img class="entry" src="<%= @entry.image %>" width="640">
  </div>

<h3 class="footer">Product of Skunkmaster Industries</h3>
</div>