<div class="row">

  <div class="large-8 large-centered columns">
    <h1>Watchio</h1>

    <form>
      <label for="movie">
        Movie:
        <input type="text" name="movie" placeholder="movie title">
      </label>

      <button>Search</button>
    </form>
  </div>
</div>

<script type="text/html">
  <span class="<%%= done ? 'done' : ''%>"><%%= title %></span> 
  <input type="checkbox" <%%= done ? "checked" : '' %>/>
  <span class="remove">&times;</span>
</script>