<div class="happy-or-sad">
 <center><p>which of these pups best describes your current state?</p></center>
</div>

<a href="/happiness/happy">
   <div class="happy-pup">
    <div class="box">
      <center><h1>happy pup : )</h1></center>
    </div>
   </div>
 </a>

<a href="/happiness/sad">
 <div class="sad-pup">
  <div class="box">
    <center><h1>sad pup : (</h1></center>
  </div>
  </div>
</a>