<div class="keepon">
  <p>Then <span style="color:red">keep doing</span> whatever you're doing. <span style="color:blue">:)</span></p>
</div>

<span style="position:relative;top:-50px"><center><iframe width="560" height="315" src=<%= @url %> frameborder="0" allowfullscreen></iframe></center></span>