<div class="wanthappiness">
  <div class="happy-or-sad">
   <center><p>well... do you want to be happy?</p></center>
  </div>

  <a href="/happiness/wants">
     <div class="happy-pup">
      <div class="box">
        <center><h1>sure do!</h1></center>
      </div>
     </div>
   </a>

  <a href="/happiness/happy">
   <div class="sad-pup">
    <div class="box">
      <center><h1>no thanks.</h1></center>
    </div>
</div>
</a>
