
<div class="header-image">
  <div class="logo"></div>
</div>

<div class="body-wrapper">
    <div class="box">
      <div class="banner-lft">
        <h2 class="card-header">ECard of the Day</h2>
        <div class="banner-img"></div>
        </div>
      <div class="banner-rt">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a consectetur purus. Pellentesque at leo erat, id pellentesque sapien. Cras id purus sem. Nulla lacinia consequat nulla, vitae porttitor urna venenatis id. Nam iaculis risus ac mauris vestibulum malesuada. Nulla dolor mi, cursus sed ornare vel, feugiat sed nibh. Suspendisse vitae pulvinar ligula. In eu dui erat. Etiam sit amet malesuada turpis. Duis dapibus feugiat euismod. Suspendisse vitae consequat nunc. Vivamus aliquet vulputate varius.
          <a href="#">Download</a>
      </p>
      </div>
      <div class="clear"></div>
</div>

