<p>
	<%= "#{@string}" %>
</p>

	<!-- file = File.new("receipts.txt", "r")
	file.each do |line|
		purchase = line.split ","
		@string = "#{purchase[0]} Store: #{purchase[1]} Product: #{purchase[2]} Price: #{purchase[3]} "
	end
	file.close -->