<h3>Add a receipt</h3>
<form action="/receipts" method="POST">
	<input type="text" placeholder="Store Name" name="store"/>
	<input type="text" placeholder="Item Bought" name="item" />
	<input type="text" placeholder="Price of Item" name="price" />
	<button>Add Purchase</button>
</form>
<a href="">other links to come later</a>