<div class="welcome">
  <center>
  <div class="message">
    <img src="/puppygram.png" />
    <div class="option1">
      <p><a href="/new">add a pup</a></p>
    </div>
    <div class="option2">
      <p><a href="/all">view pups</a></p>
    </div>
  </div>
  </center>
</div>