<div class="new">
<center>
<div class="box">
<form action="/all" method="POST">
  <input type="text" name="author" placeholder="photographer" />
  <input type="text" name="photo" placeholder="enter url" />
  <input type="date" name="date" placeholder="select a date"/>
  <button>woof!</button>
</form>
</div>
</center>
</div>
