<div class="container">
  <div class="form">
    <form method="POST" action="/wdi_instagram">
      <p><input type="url" placeholder="image url" name="photo"></p>
      <p><input type="date" placeholder="date" name="date_taken"></p>
      <p><input type="text" placeholder="author" name="author"></p>
      <button id="button">Save</button>
    </form>
  </div>
</div>