<!-- #need an image here
 -->
<h1>Kitteh-ndr</h1>

<form action="/vote/meow" method = "POST">
	<input type= "hidden" name= "url" value="<%= @random_kitty %>" />
	<button> MEEEEOWWWWW</button>
</form>

<form action="/vote/not_meow" method= "POST">
	<button>MEEEE--OUCH</button>
</form>
<img src= "<%= @random_kitty %>"/> 