<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="keywords" content="">
   
      <title>MTA Sinatra App</title>
      
      <link rel="stylesheet" href="/style.css">
</head>

<body>
   <div class="wrapper">
   <h1>MTA Train Lines</h1>
   <%= yield %>
</div>
</body>
</html>