
 <div class="greeting">
  <p>Oh hey, <%= @name %></p>
 </div>

  <div class="compliments">
    <p><%= @compliment %></p>
  </div>

  <div class="crappy">
    <a href="/">I still feel crappy... :/</a>
  </div>

