<form action="/add" method="POST">
	<!-- artist -->
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="birth_date" placeholder="YYYYMMDD">
	<input type="text" name="nationality" placeholder="Nationality">

	<!-- painting -->
	<input type="text" name="title" placeholder="Title">
	<input type="integer" name="year" placeholder="Year">
	<input type="url" name="url" placeholder="Image URL">

	<button>Submit Entry</button>
</form>