<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Artwork</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/artist/all">All Artists</a>
		<a href="/all_works">All Works</a>
		<a href="/add">Add Entry</a>
	</nav>

	<h1><%= @h1 %></h1>

	<%= yield %>
</body>
</html>