<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Positioning</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="container">

    <p>Boxes</p>

    <div class="box">
      <p>Little Boxes</p>
    </div>

    <div class="box">
      <p>Made of Ticky Tacky</p>
    </div>

  </div>

 <div id="map-canvas">

 </div>



</body>
</html>