<style type="text/css">
    body {
        margin: auto 0;
        padding: 0;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    }
    
    div {
        width: 600px;
        margin: 5em auto;
        padding: 0px;
        background-color: #fff;
        border-radius: 1em;
    }
    
    @media (max-width: 700px) {
        body {
            background-color: #fff;
        }
        div {
            width: auto;
            margin: 0 auto;
            border-radius: 0;
            padding: 1em;
        }
    }

    

    h1 {
        font-size: 2em;
        color: black;
        text-align: center;
        text-decoration: none;
    }

    h2 {
        font-size: 1.5em;
        color: purple;
        text-align: center;
        text-decoration: strong;
        font-style: italic;
    }



    img {
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 10px;

    }

    ul {
        list-style-type: none;
        display: inline;
    }

    li {
        font-size: 2em;
    }

    p {
        text-align: center;
    }

    </style>