<form action="/stocks" method="get">
<input type="text" placeholder="Stock Symbol" name="stock_symbol"/>
<input type="text" placeholder="WRITE SOME STUFF" name="stuff"/>
<button>Get Quote!</button>

</form>