<form action="/receipts" method="post">
  <input type="text" placeholder="Store" name="store">
  <input type="text" placeholder="Product" name="product">
  <input type="text" placeholder="Price" name="price">
  <button>Enter Receipts</button>
</form>