<form action="/guest_book" method="POST">
  <p><input type="text" placeholder="Your Name" name="name"></p>
  <textarea type="text" placeholder="Your Comments" name="comments"></textarea>
  <button>Submit</button>
</form>
