<!doctype html>
<html lang="en">
<head>
    	<meta charset="utf-8">
    	<meta name="description" content="">
    	<meta name="keywords" content="">
	
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
</head>

<body>
<h1>Brook & Lyn</h1>

<img src="/images/home-bloghero.png">
	
<img src="/images/home-rings.png">

<h2>Our Latest Collection</h2>
<p>October 3, 2013</p>
<p> Quickly re-engineer growth strategies with sustainable web-readiness. Collaboratively create visionary growth strategies vis-a-vis cooperative functionalities. Holistically extend cross-media technologies rath than cutting edge experiences. </p>

<img src="/images/press-nbcnewyork.gif">
<img src="/images/press-huffpost.gif">
<img src="/images/press-logo_lucky.gif">
<img src="/images/press-marieclaire.gif">

</body>
</html>