<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>Movies.io</title>
  </head>
  <body>
    <!-- add links to home page and all movies -->
    <div>
    <h1>Welcome to Movies.io</h1>
    <h2><a href='/movies'>See all Movies</a></h2>
    <h2><a href='/'>Home</a></h2>

   </div>
    <%= yield %>
  </body>
</html>