<!-- Find movie form posts data to /movies, title gets passed in as a parameter -->

<form action="/movies" method="POST">
  <input placeholder="Title" type="text" name="title">
  <button>Find Movie</button>
</form>