<!doctype html>
<html lang="en">
<head>
    	<meta charset="utf-8">
    	<meta name="description" content="">
    	<meta name="keywords" content="">

		<title>Brook &amp; Lyn</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
</head>

<body>

  <h1>Brook & Lyn</h1>

  <div id="model-image">
      <img src="/images/home-bloghero.png">
  </div>

  <div id="rings-image">
      <img src="/images/home-rings.png">
  </div>

   <h3>Our Latest Collection</h3>
   <p>Ullamco salvia non messenger bag organic, occupy gluten-free. Wayfarers enim dolore, irony iPhone gentrify Tonx four loko freegan banh mi. Nisi vegan Helvetica street art, cupidatat hella selfies tousled synth. Marfa iPhone lo-fi PBR. Semiotics yr in mlkshk direct trade put a bird on it. Placeat disrupt kogi quis post-ironic. Odd Future Echo Park keffiyeh small batch hashtag officia.</p>

   <div class="bottom-boxes">
      <img src="images/press-nbcnewyork.gif">
      <img src="images/press-huffpost.gif">
      <img src="images/press-logo_lucky.gif">
      <img src="images/press-marieclaire.gif">
  </div>



	</div><!-- #container -->
</body>
</html>