<form action="/peter" method="post">
  <input type="hidden" name="pj">
  <button>HHHaaaaa Tripped</button>
</form>
<form action="/peter" method="post">
  <input type="hidden" name="pj">
  <button>HHHaaaaa Tripped</button>
</form>
<form action="/peter" method="post">
  <input type="hidden" name="pj">
  <button>HHHaaaaa Tripped</button>
</form>