<h1>IT'S A MOVIE!!!!!!</h1>
<p>
	<ul>
		<li>Title: <%= @new_movie[:title] %></li>
		<li>Released: <%= @new_movie[:year] %></li>
		<li><img src="<%= @new_movie[:poster_url] %>"></li>
	</ul>
</p>
<p>
	<a href="/movies/search">click here to search again</a>
</p>