<h1>Welcome to WDInstagram</h1>

<a href="/wdinstagram/new"></a>
<h3>Here are the pictures searched:</h3>

<ul>

  <% @entries.each do |entry| %>
        <li><a href="/wdinstagram/<%= entry.id %>"> <%= entry.name %> <%= entry.url %> <%=entry.date_taken %></a></li>
  <% end %>
</ul>