<form action= "/stocks" method="GET" /><!-- 
	#input closes itself -->
<input type= "text" placeholder= "Stock Symbol" name="stock_symbol" />
<input type= "text" placeholder= "Write anything" name="stuff" />

<button> Get Quote Homie</button>
	</form>
