<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stockly</title>
</head>
<body>
  <h1>Welcome to Stock.ly!</h1>

  
      <%bananas = "yummy"%>
  <% if bananas == "yummy"%>
    <h3>I Like bananas!!!!!!!</h3>
  <%else%>
    <h3>Your missing out :(</h3>
  <%end%>

  <% a = 1%>
  <%= a + 10%>
</body>
</html>