 <div class="form-container"> 
    <div class="form">
      <form action="/multiple" method="get">
          <input type="number" name="num" placeholder="how many squares?"/>
          <button id="button">Go!</button>
      </form>
    </div>
</div>