<form action='/' method='POST'>
  <input placeholder="meow" type='text' name='meow'/>
  <input placeholder="not meow" type='text' name='notmeow'/>
  
  <button>Search</button>
</form>
<form action='/' method='POST'>
<input placeholder="vote/not_meow" type='text' name='notmeow'/>