
<h1>Kitten meows</h1>

<form action="/vote/meow" method='POST'>
  <input type="hidden" name="url" value="<%= @random_kitty %>"
  <button>meeeeow!</button>
</form>

<form action="/vote/meow" method='POST'>
  <button>meeeoutch!</button>
</form>

<img src="<%= @random_kitty %>" />