<h1>Postey</h1>

<form method="POST">
  Title:
  <input type="text" name="title">
  <label>
  Content:
  <textarea name="content"></textarea>
  </label> 
  <button>save</button>
</form>

<h4>Posts</h4>
<ul>
  
</ul>