<form action="/users/search" method="post">
	<p>Who would you like to find?</p>
	<input type="hidden" name= "url" value= "<%= @name %>" />
	<p>What social network would you like to search?</p>
	<button>Search</button>
</form>
