<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>Findr</title>
  </head>
  <body>
    <h1><a href='/users'>See all People Searched!</a></h1>
    <h2><a href='/users/search'>Search for a Person</a></h2>	
	<%= yield %> 
  </body>
</html>