<h1>Welcome to Stock.ly</h1>

<%= erb :form %>

<% bananas = "yummy" %>
<% if bananas == "yummy" %>
	<h3> i like bananas!! </h3>
<% else %>
	<h3> you're missing out :(</h3>
<%end %>


<% a = 1 %>

<%= a+10 %>
