

<form action="/receipts" method="post">
<input type="text" placeholder="Store" name="store"/>
<input type="text" placeholder="Products" name="item"/>
<input type="text" placeholder="Price" name="Price"/>
<button>Add receipt</button>
</form>