<h2>Please enter your new receipe!</h2>

<form action="/receipts" method="post">
  <input type="text" placeholder="Store Name" name="store_name" />
  <input type="text" placeholder="Product Name" name="product_name" />
  <input type="text" placeholder="Product Price" name="product_price" />
  <button>Submit a New Receipt!</button>
</form>