<h1>Details of your movie choice</h1>

<section>
    <h2><a href="/movies/id<%= %>">Movie:</a></h2>
    <ul>
      <li>Title: <%= @movie_info['title']%></li>
      <li>Year: <%= @movie_info['year']%></li>
      <img src="<%= @movie_info['image']%>" />
    </ul>
</section>


