<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Brook and Lyn Fasion And Accessories">
    	<meta name="keywords" content="fashion, brooklyn, amazingness">
		<title>Brook & Lyn</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	
	<body>

	<div class="body-wrapper">

		<img class="logo-splash" src="/images/brook-and-lyn-logo.gif">

		<div class="product-splash">
			<img class="product-splash" src="/images/home-bloghero.png" width="940">
		</div>

		<div class="product-splash">
			<img class="product-splash" src="/images/home-rings.png" width="940">
		</div>

		<div class="marketing-blog">
			<!-- /* include classes for headline, link, text, and read-more */ -->
			<p class="title">Our Latest Collection</p>
			<p class="date">September 11, 2001</p>
			<p class="blog-entry">Stumptown twee pour-over shabby chic iPhone. Polaroid organic single-origin coffee flexitarian food truck, occupy gluten-free kitsch readymade. Try-hard lo-fi slow-carb, meh Marfa pbr narwhal. </p>
			<p class="blog-entry"> Try-hard fanny pack whatever drinking vinegar cornhole. Trust fund mumblecore keffiyeh, bitters blog gastropub swag. Blog skateboard Godard vinyl beard, tousled Marfa craft beer whatever. Truffaut polaroid fashion axe flannel Blue Bottle tattooed. <a class="blog-link" href="#">Read more</a>
			</p>
						
		</div>

		<div class="press-links">
			<div class="press-item">
				<img class="press-img" src="/images/press-huffpost.gif">
			</div>
			
			<div class="press-item">
				<img class="press-img" src="/images/press-logo_lucky.gif">
			</div>
			
			<div class="press-item">
				<img class="press-img" src="/images/press-marieclaire.gif">
			</div>

			<div class="press-item">
				<img class="press-img" src="/images/press-nbcnewyork.gif">
			</div>
		</div>

		<div class="footer">
			Copyright 2013.
		</div>

	</div>


	</body>

</html>
