<div class="center-mid">
<a href="/" class="greeting">movie submarine!</a>
<form action="/movies" method="POST">
  <input type="text" placeholder="Movie Title" name="title"/>
  <p><button>DIVE</button></p>
</form>
</div>