<div class="show">
  <div class="entry" style="background-image:url(<%= entry.photo_url %>);background-size:cover">
    <div class="info">
      <p>Author : <%= entry.author %></p>
      <p>Date Taken : <%= entry.date_taken %></p>
    </div>
  </div>
</div>