<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies App</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="wrapper noise">
  <nav class="noise main-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/movies">Movies</a></li>
    </ul>
  </nav>
  <%= yield %>
  </div>
</body>
</html>