/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
	background-color: #e4e6e5;
}

.header {
	text-align: center;
}

.header a {
	color: #54cbec;
}

.container {
	width: 960px;
	margin: 20px auto;
	text-align: center; 
}

section {
	margin-top: 20px;
}

h1 {
	font-family: 'BenchNine', sans-serif;
	font-size: 100px; 
	margin: 5px 0px; 
}

h2 {
	font-family: 'BenchNine', sans-serif;
	font-weight: 300px;
	font-size: 52px;
	margin: 0px;
	font-color: #54cbec;
}

img {
	border: 15px solid black;
}

p {
	margin: 5px 0px;
}

a {
	text-decoration: none; 
	color: black;
}