<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/styles.css'>
    <title>Movies.io</title>
  </head>
  <body>
    <div class= "container">
    <h1 class= "home"><a id="home_a" href='/'>Home</a>   <a id="list"href='/movies'>List our Movies!</a></h1></div>
    <%= yield %>
  </body>
</html>