<h1>POSTEY</h1>

<form method="POST">
  <label>Title</label>
  <input name="title" type="text"/>
  <label>Content</label>
  <textarea name="content" id="" cols="30" rows="10"></textarea>
  <button>save</button>
</form>