<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Positioning</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">

    <p>&#8722; proud parent &#8722;</p>

    <div class="box left">
      <p>baby box</p>
      <p class="dob">10.03.13</p>
    </div>

    <div class="box right">
      <p>baby box</p>
      <p class="dob">10.03.13</p>
    </div>

  </div>



</body>
</html>