<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="keywords" content="">
  
    <title>MTA</title>
    
    <!-- external CSS link -->
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
=======
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
>>>>>>> w2d4
</head>

  <body>
    <%= yield %>
  </body>

</html>

