<<<<<<< HEAD

    <h2>Stops: <%= @stops %></h2>
=======
<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="keywords" content="">
  
    <title>MTA</title>
    
    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

  <body>
    <h2>Stops: <%= @stops %></h2>
  </body>

</html>
>>>>>>> w2d4
