    <div class="info">
        <h1>Roger Rabbit Profile</h1>
        <img src="http://manicaboutlogos.com/images/products/173.jpg" alt="Roger Rabbit" width=50%>
        <p><a href="/personaldata/hello">Hello Data Point</a></p>
                    <ul>
                            <li><a href="/personaldata/name">Name: Roger Rabbit</a></li>
                            <li><a href="/personaldata/DOB">DOB: Circa 1933</a></li>
                            <li><a href="/personaldata/profession">Proffession: major Toon star at Maroon Cartoon studios</a></li>
                        </ul>
                    <p>Pets:</p>
                        <ul>
                            <li>Eddie Valiant</li>
                            <li>Jessica</li>
                            <li>Baby Herman</li>
                        </ul>
    </div>
    <div class="statement">
        <p>Roger Rabbit was abandoned as a baby bunny and left on the doorstep of a wholesome Kansas farm couple. He was raised as their son. Oddly enough, Roger never seemed to realize that he was a Toon Rabbit until his 18th birthday when his human parents tell him he was adopted. Stunned by this news, Roger decides to set out in search of his birth mother in 1941.
    </p>
    <p>Roger and Jessica get married. Roger becomes a major Toon star at Maroon Cartoon studios. Jessica, having come out of her shell and transformed herself into a sultry, seductive siren, gets a job as a Torch singer at the Ink & Paint Club.</p>
    </div>

