
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>WDInstagram</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

 
  <%= yield %>   <!-- add embedded paths here to use -->
  
</body>