<!-- passes name field input as parameters-->
<form action="/photos" method="POST">
  
  <p><input type="text" placeholder="Artist" name="author"></p>
  <p><input type="text" placeholder="Photo URL" name="photo"></p>
  <p><input type="text" placeholder="Date" name="date"></p>

  <button>Post</button>
</form>