<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>Squares.io</title>
  </head>
  <body>
    <h1><a href='/'>Home</a>  |  <a href='/multiple'>See all Squares</a></h1>


    <%= yield %>
    <%= erb :form %>
  </body>
</html>