<form action="/sessions" method="POST">
  <!-- "type password will show ##### instead of the text -->
  <input type="password" name="password" placeholder="Enter password" />
  <button>Submit</button>
</form>