<div class="logo">Arunstigram on RAILS</div>
<span class="nav"><a href="/images">Home</a>||<a href="/images/new">Create new</a></span>
<br />
<span>Author: <%= @post.author %> date: <%= @post.date %></span>
<br />
<img src="<%= @post.photo_url %>"/>
