<h1>Create a new actor:</h1>

<form action="/actors" method="post">
 	
    <input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" />
  
  <label>
    Name:
    <input type="text" name="name" /> 
  </label>

  <label>
    Photo Url:
    <input type="text" name="photo_url" /> 
  </label>

  <label>
    Date:
    <input type="date" name="birth_date" /> 
  </label>
</form>



<button>Save!</button>