<h1>about: Gavin Creel</h1>

<img src="http://www.playbill.com/images/photo/G/a/GavinCreelheadshot200.jpg"/>

<ul>
  <li>Age: 37</li>
  <li>DOB: April 18, 1976</li>
  <li>Hometown: Findlay, OH</li>
</ul>

  <h3>Notable roles</h3>
<ul>
  <li>"Jimmy" in <em>Thoroughly Modern Millie</em>, Original Broadway Cast</li>
  <li>"Claude" in <em>Hair</em>, Broadway revival</li>
  <li>"Jean Michel" in <em>La Cage aux Folles</em>, Broadway Revival</li>
  <li>"Elder Price" in <em>The Book of Mormon</em>, First National Tour</li>
</ul>