<form action="/vote/meow" method="POST">
	<!-- can use hidden link, w/ value = embedded instance variable link -->
	<button>Vote Meow</button>
</form>

<form action="/vote/not_meow" method="POST">
	<button>Vote NOT Meow</button>
</form>