<div class ="square"></div>

<h2>Blue Square</h2>
<form action="/multiple" method="POST">
  <input type="text" placeholder ="Number of Blue Squares" name="bluesquare"/>
  <button>Search</button>
</form>