<h1>Postey</h1>

<form method="POST">
	<label>
		Title:
		<input name="title" type="text" />
	</label>

	<label>
		Content:
		<textarea name="content"></textarea>
	</label>

	<button>Save</button>
</form>