<!DOCTYPE html>
<html>
<head>
    <title>Captain America's Profile</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

    <style type="text/css">
      /*
      * Colors:
      * red #c6453d
      * blue #338ebd
      */
      html {
         background: #c6453d;
      }
      body {
         color: #191919;
         font-family: Helvetica, Arial, sans-serif; 
      }
      div#wrapper {
         margin: 0 auto;
         width: 800px;
         padding: 10px 20px 20px 20px;
         -webkit-border-radius: 20px;
         -m-border-radius: 20px;
         border-radius: 20px;
         background: #ffffff;
      }
      div.statement {
         margin: 20px auto;
         width: 500px;
         padding: 10px 10px 20px 10px;
         border: solid 2px #338ebd;
         -webkit-border-radius: 20px;
         -m-border-radius: 20px;
         font-size: 22px;
         color: #c6453d;
      }
      h1 {
         text-align: center;
         font-family: 'Sigmar One', Arial, sans-serif;
         font-size: 38px;
      }
      h2 {
         font-family: 'Sigmar One', Arial, sans-serif;
         font-size: 32px;
         color: #338ebd;
      } 
      p.author {
         float: right;
         position: relative;
         top: -30px;
         font-size: 14px;
         color: #338ebd;
      }
      img {
         margin: 0 auto;
         display: block;
      }
      ul {
         color: #c6453d;
      }
      span {
         color: #191919;
      }
    </style>
</head>

<body>
   <div id="wrapper">
      <h1>Captain America</h1>
      <img src="http://happymoneysaver.com/wp-content/uploads/2012/10/captain-america.gif" alt="Captain America" height="400" width="221">

      <div class="statement">
         <p>"I'm loyal to nothing, General -- except the Dream."</p>
         <p class="author">-- Captain America</p>
      </div>

      <div class="info">
         <h2>Bio</h2>
         <p>Alias: Steven Rogers</p>
         <p>DOB: July 4, 1920</p>
         <p>Occupation: Soldier, Federal Official, Intelligence Operative</p>

         <img src="cap_shield.jpg" alt="Captain America's Shield" height="200" width="200">

         <h2>Weapon</h2>
         <p>Captain America's only weapon is his shield.</p>
         <ul>
            <li><span>Shape: a concave disk 2.5 feet in diameter</span></li>
            <li><span>Weight: 12 pounds</span></li>
            <li><span>Metal: a unique Vibranium-steel alloy (that has never been duplicated)</span></li>
         </ul> 
      </div>
   </div>
</body>

</html>