<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Film Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<%= yield %>
    
    <p> <a href="/movies/">All Movies</a> <p>
    <p> <a href="/search/">Search For A New Movie?<a> <p>
    <p> Search For A Specific Movie? <p>
    <p> <a href="/random/">See A Random Movie</a> <p>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>