<div class="movie-wrapper">

    <div class="information">
        <h1>Title: <%= @display_hash[:title] %></h1>
        <h2>Year:  <%= @display_hash[:year] %></h2>
    </div>

    <div class="poster">
        <img src="<%= @display_hash[:poster] %>">
    </div>

</div>