<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Positioning</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

  <div class="container">

    <p>I'm a parent of two boxes.</p>

    <div class="box background-cyan">
      <p>I'm a box.</p>
    </div>

    <div class="box background-gray">
      <p>I'm a box.</p>
    </div>

  </div>

  <div class="second-div">
    
  </div>


</body>
</html>