<h1>Add a new guy</h1>

<form action="/actors" method="POST">
<input name="name" placeholder="Name of Actor" type="text" />
<input name="dob" placeholder="D.o.B." type="date" />
<input name="photo" placeholder= "Photo URL" type="text" />

<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
<button>ADD</button>

</form>