<form action="/photos/new" method="POST">
    <p><input type="text" placeholder="Enter your name" name="author" /></p>
    <p><input type="text" placeholder="Enter photo url" name="photo" /></p>
    <p><input type="text" placeholder="Enter date" name="date" /></p>
    <button>Save</button>
</form>