<h1>"Welcome to Stock.ly"</h1>
<%= erb :form %>
<!-- 
<% bananas = "yummy" %>

<% if  bananas == "yummy" %> 
  <h3>I like bananas!!!</h3>
<% else %>
  <h3 class="<%= bananas %>"> You are missing out!! </h3>
<% end %>

<% a = 1 %>
<%= a + 10 %> -->
<!-- hhjh -->
<!-- submit is part of the button.so name=stock_symbol=>AAPL (example of something typed into input area) 
  and stuff=> Blah Bla - whatever is typed input   ie A HASH!!  
  SO NAME ie whatever gets put in the input bar in the webpage IS THE KEY and then you make an instance variabe in server.rb for example with below it would be @stuff = params[:stuff] !!!!!!!!!!!!!!
    -->

