<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>PICK ME UP</title>
    <style>
    body {background-color: <%= @color %>; font-family: helvetica; color: white; width: 900px; margin: 0 auto}
    div {font: bold 72px helvetica; margin-top: 50px;}
    div.crappy {width:100px; height: 50px; border-radius: 10px; background-color: red; margin: 50px auto;font-size: 12px;padding:50px 20px 20px 20px;}
    a{color:white; text-decoration: none;}
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>