<div id="info">
      <h1><%= @header %></h1>
    <img src="http://i3.squidoocdn.com/resize/squidoo_images/-1/lens12567281_1281104759Mr_T_Snarl.jpg" width="400" />   
    <ul class="buttons">
        <li><a href="<%= @done %>">Done</a></li>
    </ul>
</div>
</div>


