<div id="info">
    <h1><%= @header %></h1>
    <img src="http://th00.deviantart.net/fs70/PRE/i/2010/044/c/e/MR_T_by_mehim.jpg" width="400" />
    <ul class="buttons">
        <li><a href="<%= @done %>">Done</a></li>
    </ul>
</div>



