<div id="info">
    <h1><%= @header %></h1>
    <img src="http://www.choppix.com/globaljs/fool/assets/mr.t.png" width="400" />
    <ul class="buttons">
        <li><a href="<%= @yes %>">Yes</a></li>
        <li><a href="<%= @no %>">No</a></li>
    </ul>
</div>


