<div id="info">
    <h1><%= @header %></h1>
    <img src="http://img.engadget.com/common/images/3060000000054159.GIF?0.3675532680390864" width="400" />
    
    <ul class="buttons">
        <li><a href="<%= @yes %>">Yes</a></li>
        <li><a href="<%= @no %>">No</a></li>
    </ul>
</div>

