<div id="info">
    <h1><%= @header %></h1>
    <img src="http://images3.wikia.nocookie.net/__cb20091101224641/muppet/images/d/dc/MrT.jpg" width="400" />
    <ul class="buttons">
        <li><a href="<%= @done %>">Continue</a></li>
    </ul>
</div>
