<h1>Search for a movie!</h2> 

<form action="/movies" method="POST" >
    <input type="text" placeholder="Enter your movie" name="movie_title" />
    
<button type="submit">Find your movie</button>

</form> 