<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="The best in ecards">
    	<meta name="keywords" content="Ecards, comedy, gifts">
		<title>Ecard.ly | The Best in Ecards</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<div class="body-wrapper">

			<img class="logo" src="images/logo.png" />

			<div class="box">

				<h2 class="card-header">Ecard of the Day</h2>

				<!-- doing width here allows browser to render
				before loading all css -->
				<img class="card-img" src="images/ecard-nycstartups.jpg" width="600"  />

				<p class="card-text">
					<a href="#">DOWNLOAD</a>
				</p>

			</div>

		</div>

		<img class="card-img" src="#" />

	</body>
</html>
