<h1>Add your receipt.io below, yo!</h1>

<!-- form for new receipts:
			* POST inputs for store, product, price -->
<form action="/receipts" method="POST">
	<p>Where did you make your purchase from?<br/>
	<input type="text" name="store" placeholder="Store"></p>

	<p>What product did you purchase?<br/>
	<input type="text" name="product" placeholder="Product"></p>

	<p>How much did it cost?<br/>
	<input type="text" name="price" placeholder="Price"></p>

	<button type="submit">Add that ish.io!</button>
</form>