<h1>Welcome to Receipts.io, yo!</h1>

<!-- Runs form.erb >> receipt_maker.erb -->
<p>To add a new receipt, click <a href="receipts/new">here</a>.</p>
<!-- Runs receipt_reader.erb -->
<p>To see your receipts, click <a href="/receipts">here.</a>