<h1>TRIPP'D UP LEADERBOARD</h1>
<% @people.each do |person| %>
<h3><%= person.name.upcase %> : <%= person.num_trips %> trips </h3>
<form action="/<%= person.name %> = method="POST">
	<button>HEY YOU TRIPPED</button>
</form>
<% end %>