<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="/pairing.css">
    <title>Pair Programming</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
