<!-- <div class="testlink">
  <a href="/selenium/TestRunner.html?test=/tests/TestSuite.html">[run tests]</a>
</div>  -->     
<p class="text">
  <%= @header %>
</p>
<ul class="buttons">
  <li><a class="continue" href="<%= @done %>">Done</a></li>
</ul>
<p class="links">
  (<a href="<%= @restart %>">restart</a>)
</p>
