<!-- <div class="testlink">
  <a href="/selenium/TestRunner.html?test=/tests/TestSuite.html">[run tests]</a>
</div>   -->    
<p class="text">
  <%= @header %>
</p>
<ul class="buttons">
  <li><a class="yes" href="<%= @yes %>">Yes</a></li>
  <li><a class="no" href="<%= @no %>">No</a></li>
</ul>
<p class="links">
  (<a href="#">inspiration</a>)
</p>