<h1>Enter a new Photo</h1>

<form action="/entries" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <label> Name
      <input type="text" placeholder="author" name="author" />
    </label>
    <label>
      <input type="text" placeholder="Photo url" name="photo_url" />
    </label>
    <label>
      <input type="date" placeholder="Date Taken" name="date_taken" />
    </label>
  <button>Submit</button>
  </form>