<h1><%= @instagram.author %></h1>

<div class="content">
<img src="<%= @instagram.photo_url %>" alt="Instagram taken by <%= @instagram.author %>" />
<p><%= @instagram.date_taken %></p>

<p class="right"><a href="/entries">Home</a></p>
</div>