<!-- Displays a form for new movies. Input for a movie title. -->
<center><h1>Search the Movies.io database.</h1>
<form action="/movies" method="POST">
  <input type="text" placeholder ="Movie Title" name="movie_title"/>
  <button>Search</button>
</form></center>


