<header>
<center><img src="http://3.bp.blogspot.com/-m_bXXfItarI/Tv_NpcnoOVI/AAAAAAAATYo/QV2zt0XOs4I/s400/Movies.gif"></img>
<h1>Welcome to Movies.io!</h1>
<h4> The world's most advanced movie search engine </h4>
<p>Click <a href="/movies/search"><b>here</a></b> to get started.</p>
</center></header>