<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>Movies.io</title>
  </head>
  <body>
   <h1><a href='/movies'>See all Movies Searched!</a></h1>
    <h2><a href='/movies/search'>Search for a Movie</a></h2>  
  <%= yield %> 
  </body>
</html>