<form action="/multiple" method="get" class="my-form">

<input type="text" placeholder="circle or square?" name="shape"/>
<input type="text" placeholder="Type a number" name="num"/>

<button>GO!</button>
</form>

