<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shapes</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <%= yield %>

</body>
</html>