<form method="POST" action="/guest_book">
	<input type="text" placeholder="Your Name" name="name">

	<textarea name="comment" placeholder="Enter your comments about our website..."></textarea>

	<button>Save</button>
	

</form>

