<h1>Fill out this form</h1>

<form action="/receipts" method="POST">
	<input type="text" placeholder="Store name"name="store"/>
	<input type="text" placeholder="Product name" name="product"/>
	<input type="text" placeholder="Price of Product" name="price"/>
	<button>Submit</button>
</form>