<h1>Elizabeth Taylor</h1>

<ul>
  <li>A dual citizen of the United Kingdom and the United States, she was born British through her birth on British soil and an American citizen through her parents. </li> 
  <li> Taylor was the subject of at least 53 books as of 2006 and was in over 113 films.</li> 
  <li>Her much-publicized personal life included eight marriages and several life-threatening illnesses</li>
</ul> 

