<!DOCTYPE html>
<html>
<head>
   <title>Movies.io</title>
   <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="/style.css" /> 
</head>
<body>

   <header>
      <h1>Movies.io</h1>
      <nav>
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/movies">My Movies</a></li>
         </ul>
      </nav>
   </header>

   <div id="wrapper">
      <%= yield %>
      
   </div>
</body>
</html>