 <div>
  <h1>Menu</h1>
  <ul>
    <li><a href="<%= @make %>">Make a receipt!</a></li>
    <li><a href="<%= @print_one %>">Print one of your receipts.</a></li>
    <li><a href="<%= @print_all %>">Print all of your receipts.</a></li>
  </ul>
</div>