<form method= "POST" action="/wdinstagram">
	<p><input type="text" placeholder="Name" name="name"></p>
	<p><input type="text" placeholder="URL"  name="url"></p>
	<p><input type="text" placeholder="Date" name="date_taken"></p>
	  
	  <button>Save</button>
</form>