<form action="/guest_book" method="POST">
  <input type="text" placeholder="your name" name="name" /><br/><br/>
  <textarea name="comment" placeholder="enter your comments about our website..."></textarea><br/>
  <button>Save</button>

</form>