<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="The best in ecards">
    <meta name="keywords" content="Ecards, comedy, gifts">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Ecard.ly | The Best in Ecards</title>
</head>

<body>
<div class="container">
<img class="logo" src="images/logo.png" width="" heigth="">

<div class="box">
<h2 class="card_header">Ecard of the Day</h2>
<img class="card-img" src="images/ecard-nycstartups.jpg">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a consectetur purus. Pellentesque at leo erat, id pellentesque sapien. Cras id purus sem. Nulla lacinia consequat nulla, vitae porttitor urna venenatis id. Nam iaculis risus ac mauris vestibulum malesuada. Nulla dolor mi, cursus sed ornare vel, feugiat sed nibh. Suspendisse vitae pulvinar ligula. In eu dui erat. Etiam sit amet malesuada turpis. Duis dapibus feugiat euismod. Suspendisse vitae consequat nunc. Vivamus aliquet vulputate varius.<a href="#">Download</a></p>

</div>
</div><!--------container close---------->
</body>
</html>

