<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style> 
		.container {
			text-align: center; 
		}
		.square {
			width: 100px;
			height: 100px;
			border: 1px solid black;
			background: blue;
			margin: 10px auto; 
		}

    </style>
</head>
<body>
	<%= yield %> 
</body>
</html>