<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="keywords" content="">
  
    <title>Brook &amp; Lyn</title>
    
    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="center">
    <div class="container">
      <header>
        <h1 class="logo">Brook &amp; Lyn</h1>
      <header>

        <section class="images">
          <img src="images/home-bloghero.png">
          <img src="images/home-rings.png">
        </section>

        <section class="blog">
          <article>
          <header>
            <h2>Our Latest Collection</h2>
          </header>
          
          <p class="date">May 25th, 2012</p>

          <p class="blog-text">Fap cornhole seitan Neutra paleo chillwave. Leggings labore church-key, actually Blue Bottle typewriter id locavore whatever banjo non tofu disrupt kale chips. Brooklyn nisi whatever, meggings gluten-free semiotics art party Portland Intelligentsia Schlitz forage Godard Neutra mollit single-origin coffee. Keytar pop-up stumptown, reprehenderit chia non selfies in pork belly aesthetic proident. Readymade raw denim Cosby sweater meggings, bespoke non minim culpa single-origin coffee dolor. Pitchfork raw denim four loko, Blue Bottle nulla cred Wes Anderson organic incididunt id. Delectus banh mi veniam, single-origin coffee pickled hella freegan farm-to-table mlkshk magna sunt.
          </p>
          </article>

      </section>
      
      <section class="press">

        <img class="small-img" src="images/press-huffpost.gif">
        <img class="small-img" src="images/press-logo_lucky.gif">
        <img class="small-img" src="images/press-marieclaire.gif">
        <img class="small-img" src="images/press-nbcnewyork.gif">
        
      </section>

      <footer>
        <p class="blog-text">Copyright 1999</p>
      </footer>

    </div>
</div>
</body>
</html>