<ul>
	<% InstaEntry.all.each do |entry| %>
		<% if entry.date_taken.to_s == @date %>
			<li>ID: <%= entry.id %></li>
			<li>Name: <%= entry.author %></li>
			<li>Date: <%= entry.date_taken %></li>
			<li><img src="<%= entry.photo_url %>"></li>
		<% end %>
	<% end %>
</ul>