<form method="POST" action="/guestbook">
<p><input type="text" name="name" placeholder="Your name"></p>
<textarea name="comment" placeholder="Comments here"></textarea>
<button>Push Me Baby</button>
</form>