<form action='/receipts' method='POST'>
  <input placeholder="store" type='text' name='store' autofocus>
  <input placeholder="product" type='text' name='product'>
  <input placeholder="price" type='text' name='price'>
  <button>Submit Receipt</button>
</form>