  <section>
    <h2><a href="/receipts/<%=@receipt_array[0]%>">Entry:</a></h2>
    <ul>
      <li>Store: <%= @receipt_array[1]%></li>
      <li>Product: <%= @receipt_array[2]%></li>
      <li>Price: <%= @receipt_array[3]%></li>
    </ul>
  </section>