<form action="/stocks" method="GET">
  <input type="text" placeholder="Stock Symbol" name="stock_symbol"/>
  <input type="text" placeholder="Write some stuff" name="stuff"/>
  <button>Get Quote!</button>
</form>