<h1>Welcome to Stock.ly</h1>

<%= erb :form %>

<%= bananas = "yummy" %>

<% if bananas == "yummy" %>
  <h3> I LIKE BANANAS!!!</h3>
<% else %>
   <h3> You're missing out :( </h3>
<% end %>

<% a = 1 %>
<%= a + 10 %>