<h1>Welcome to Project.io</h1>

<p>Project.io is the resource for learning about all your fellow students' projects!</p>

<ul>
<li><a href='/students'>See all students</a></li>
<li><a href='/students/new'>Add student</a></li>
</ul>