<div class= "upper"><h1>The Movie Monster</h1>
  <a class="top" href="/">Home</a>
<!-- <h4 class="top">Search for a movie!</h4> -->
</div>

<form action ="/movies" method="post">
  <label>Search for a movie!</label><input type="text" name="movie" placeholder="Enter a movie"/>
  <button type=submit>Submit</button>
</form>