<h1>Input Info</h1>

<form action="/create" method="POST">
	<input type="text" name="meme" placeholder="One Does Not Simply...">
	<!-- <input type="url" name="pic_url" placeholder="Picture URL"> -->

	<button>Generate Meme</button>
</form>