<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css" type="text/css">
	<title>Meme Generator</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/create">Create New</a>
		<!-- <a href="/all">Display History</a> -->
	</nav>
	<%= yield %>
	</div>
</body>
</html>