<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WDInstagram</title>
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
	<style type="text/css">
		.container {
			width: 960px;
			margin: 0 auto; 
			text-align: center; 
		}

		body {
			background: #3c4359;
			color: white;
		}


		a {
			text-decoration: none; 
		}

		p {
			font-size: 24px; 
			font-family: georgia; 
		}

		h1 {
			font-size: 150px; 
			font-family: 'Lobster Two', cursive;
			color: #f24141;
			margin-bottom: 50px; 
		}

		h2 a{
			font-size: 35px;
			font-family: 'News Cycle', sans-serif;
			color: #D9C8BF;
		}

		section {
			margin-top: 50px;
		}

		img {
			border: 15px solid white;
		}

		span .wdi {
			

		}

		span .rest_of_title {
			color: #bf7920;
			
		}

		

		

	</style>
</head>
<body>
	<%= yield %>
</body>
</html>