<div class="container">
	<h1> Create a new WDInstagram! </h1>
	<form method="POST" action="/instagrams">
		<input type="text" placeholder="Author" name="author">
		<input type="text" placeholder="URL" name="url">
		<input type="date" placeholder="Your Name" name="published">
		<button>Save</button>
	</form>
</div>
