<form action="vote/meow" method="POST">
	<input type="hidden" name="url" value="<%= @url %>" >
	<button>Meow</button>
</form>

<form action="vote/not_meow" method="POST">
	<input type="hidden" name="url" value="<%= @url %>" >
	<button>Not Meow</button>
</form>