<!-- Index File -->
   <h2>Welcome to the Movie.io Database!</h2>
   <p>What would you like to do?</p><br />
   
   <p><a href="/movies/search">Search for a Movie</a></p><br />
   <p><a href="/movies">View My Movies</a></p>

