<!-- Display Specific Movie -->
<div>
   <h2><%= @movies_array[1] %></h2>
   <p><%= @movies_array[2] %></p>
   <img src="<%= @movies_array[3] %>" alt ="Movie Poster for <%= @movies_array[1] %>" />
</div>
