<!-- Search Movie Form -->
<form action="/movies" method="POST">
      <p>Search for a movie:
      <input type="text" placeholder="Movie Title" name="title" /></p>
      <button>Search</button>
</form>