.box {
  m10
  margin: 10px;
  p20
  padding: 20px;
  w50
  width: 50px;
  w50p
  width: 50%;
  height: 50px;
  h50p
  height: 50%;
  m10-20
  margin: 10px 20px;
  m0-auto
  margin: 0 auto;
  -transition
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
  transition: ;
  -border-radius
  -webkit-border-radius: ;
  -moz-border-radius: ;
  border-radius: ;

}

.prefixes {
  -transition
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

-box-shadow
-webkit-box-shadow: 10px 10px 10px #666;
-moz-box-shadow: 10px 10px 10px #666;
box-shadow: 10px 10px 10px #666;

-border-radius
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}