@import url(http://fonts.googleapis.com/css?family=Vollkorn);

body {
  font-family: Vollkorn, Serif;
  background:#fafafa;
  color:#808080;
  background-image: url('greyzz.png');
}

#container {
  width:1000px;
  margin:auto;
}

p {
  margin:0px;
}

#new-task-field {
  padding: 10px;
  border:none;
  vertical-align: top;
  width:500px;
  margin: 0 0 0 40px;
  border-radius: 2px;
}

.items {
  padding:10px;
  background: white;
  color:#808080;
  border-radius: 2px;
}

.meta-data {
  color:#aaaaaa;
  font-size:small;
  font-style:italic;
}

#unfinished,
#finished {
  margin:10px 0 10px 0;
  padding:10px 40px 10px 10px;
  background:#404040;
  color:#eeeeee;
  border-radius: 8px;
}
#finished li {
  list-style-type: none;
}

#finished li .items {
  color:#aaaaaa;
}

.actions {
  float:right;
}

button {
  margin: 0px;
  border: none;
  font-family: Vollkorn, Serif;
  border-radius: 2px;
  margin-right: 10px;
}

.delete {
  background:#eecccc;
}

.complete {
  background:#eeeeee;
  margin-top: 5px;
  float: right;
}

#add-item {
  background:#6060ff;
  padding:10px 20px 8px 20px;
}

.delete:hover {
  background:#ff6060;
}

.complete:hover {
  background:#80ff80;
}

#add-item:hover {
  background:#4040ff;
}
.listed{
  width:700px;
  height:30px;
  background-color: goldenrod;
}
.delete{
  margin-top: 5px;
  float: right;
}
.compdelete{
  margin-top: 5px;
  float:right;
}

li {
  margin:5px;
}

h1 {
  color:#404040;
}