<form method="POST" action="/guest_book">
	<p><input type="text" name="name" placeholder="Your name here." /></p>
	
	<textarea type="text" name="comment" placeholder="Express yourself!"></textarea>

	<button>Make it so!</button>
</form>