<form action= "/receipts/" method="POST" /><!-- 
	#input closes itself -->
<input type= "text" placeholder= "Store" name="store" />
<input type= "text" placeholder= "Product" name="product" />
<input type= "text" placeholder= "Price" name="price" />
<button> Generate That Receipt, G!</button>
	</form>
