<h3>Sign Our GuestBook</h3>

<form action="/guest_book" method="POST">
   <p>Please enter your name:
   <input type="text" name="name" placeholder="Your name" /></p>
   <p>Please enter your comments:</p>
   <textarea name="comment" placeholder="Your comments about our website..."></textarea><br />

   <button>Save</button>
</form>

<p><a href="/guest_book">Home</a></p>