<h1>kitteh-ndr</h1>
  <form action="/vote/meow" method="POST">
      <input type="hidden" name="url" value="<%= @kittens %>"/>
      <button id="button">Meowwww</button>
  </form>
    <form action="/vote/not_meow" method="POST">
      <input type="hidden" name="url" value="<%= @kittens %>"/>
      <button id="button">Meowtch LOL</button>
  </form>

<img src="<%= @kittens %>"/>



<!-- SINATRA -->
<!-- POST: /vote/:vote
/vote/meow
params[:vote] = "meow"
params = { vote: "meow" }

params[:url] = @kittens

params = { vote: "meow", url: @kittens } -->