<h1>Welcome to THE Stock App!</h1>
<%=  erb :form %>

<% bananas  = "yummy" %>

<% if bananas  == "yummy" %>
  <h3>I Like Bananas</h3>
<% else %>
  <h3>You're missing out</h3>
<% end %>

<%  a = 1 %>
<p><%=  a + 10 %></p>
