<div id="info">
    <h1>Ann Margeret Profile</h1>
    <img src="http://www.whatgoesaroundnyc.com/blog/wp-content/uploads/2013/08/1964-elvis-e-ann-margret-in-viva-las-wegas.jpg" width="400" />
    <ul>
        <li><span class="info-point">Name</span>: <a href="personaldata/name">Ann-Margret (Olsen)</a></li>
        <li><span class="info-point">Date of Birth</span>: <a href="personaldata/dob">April 28, 1941</a></li>
        <li><span class="info-point">Profession</span>: <a href="personaldata/profession">Actor / Model / Dancer / "Singer" </a></li>
    </ul>
    <p>Pets:</p>
    <ul>
        <li class="pet cat">Frisky the Cat</li>
        <li class="pet">Hound Dog</li>
        <li class="pet">Baubles the Minx</li>
    <ul>
</div>

<div class="statement">
    <p>The critics had an image of me, and they wouldn't accept any other... I was a cartoon character, a joke. -- Ann-Margret</p>
    <p><a href="https://www.google.com/search?q=ann-margret">More information...</a></p>
</div>
