<!doctype html>
<html>
<head>
    <title>Pair Programming</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
    body {

    }
    div {

    }
    a:link, a:visited {

    }
    a:hover {
        
    }
    @media (max-width: 700px) {
        body {

        }
        div {

        }
    }

    span {

    }

    ul.cat {

    }

    #info {
    
    }

    h1 {
    
    }

    img {
    
    }

    ul {
    
    }

    li {

    }

    </style>
</head>

<body>
 <%= yield %>
</body>
</html>