<h1> John Malkovich </h1>
<h3> Actor </h3>
<p>
John Gavin Malkovich is an American actor, producer, director, and fashion designer. Over the last 30 years of his career, Malkovich has appeared in more than 70 motion pictures. Wikipedia
</p>

<ul>
    <li> Born: December 9, 1953 (age 59), Christopher, IL
    <li> Height: 6' 0" (1.83 m)
    <li>Partner: Nicoletta Peyran (1989–)
    <li>Spouse: Glenne Headly (m. 1982)
    <li>Awards: Primetime Emmy Award for Outstanding Supporting Actor - Miniseries or a Movie, More
</ul>