<div>
	<!-- greeting -->
	<p>Hi <%= @name %></p>
</div>

<div>
	<!-- compliment -->
	<%= @compliment %>
</div>

<div class="shitty-button">
	<!-- still feel shitty -->
	<a href="/shitty">Still Feel Shitty?</a>
</div>