<h1 class= "animated bounce"> Gluten Lovers Unite! </h1> 

<h2> <%= @header %></h2>

<ul class= "buttons">
  <p><a href="<%= @link_yes %>">Yes</a></p>
  <p><a href="<%= @link_no %>"> No</a></p>
</ul>



