<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>The Bread Cycle!</title>
  </head>
  <body>
    <!--<img src ="http://images3.wikia.nocookie.net/__cb20120128045061/thehungergames/images/6/67/Bread.jpg" width=400 height=400> --> 
    <div>
    <%= yield %>
    </div> 
  </body>
</html>